@use "../util/" as *;
@use "fonts";
@use "colors";

// Reset

*,
*:before,
*:after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: colors.$dark-grayish-blue;
}

html {
	font-size: 62.5%; // 1rem = 10px
}

body {
	font-family: fonts.$font-family;
	background: white;
	font-size: 1.6rem;
}

.container {
	@include breakpoint(medium) {
		padding: 0 3rem;
		max-width: 1200px;
	}

	margin: 0 auto;
}

.grid {
	display: grid;
	-ms-grid-columns: 100%;
	grid-template-columns: 100%;

	@include breakpoint(medium) {
		display: grid;
		grid-template-columns: 250px 1fr;
	}

	gap: 2rem;
}

.gap-2 {
	gap: 2rem;
}

.primary-text {
	color: colors.$primary;
}

.bold {
	font-weight: 700;
}

.label {
	padding: 0.5rem 1rem;
	font-size: 1.4rem;
	font-weight: 700;
	border-radius: 6px;
	color: colors.$primary;
	background: colors.$pale-orange;
}

.attribution {
	margin-top: 4rem;
	font-size: 1.1rem;
	text-align: center;
	color: white;

	a {
		color: colors.$primary;
	}
}

/* .mt-2 {
	margin-top: 2rem;
}

.mt-10 {
	margin-top: 10rem;
} */

.times {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	gap: 2rem;

	@include breakpoint(large) {
		grid-template-columns: repeat(4, 1fr);
	}

	@include breakpoint(medium) {
		grid-template-columns: repeat(3, 1fr);
	}
}

// margin and padding values array
$space-values: (0, 2, 3, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50) !default;

// margin and padding shorthands
$space-prefixes: (
	p: padding,
	pt: padding-top,
	pr: padding-right,
	pb: padding-bottom,
	pl: padding-left,
	m: margin,
	mt: margin-top,
	mr: margin-right,
	mb: margin-bottom,
	ml: margin-left,
) !default;

@mixin make-spaces() {
	@each $attr-short, $attr-long in $space-prefixes {
		@each $value in $space-values {
			.#{$attr-short}-#{$value} {
				#{$attr-long}: #{$value}#{"rem !important"};
			}
		}
	}
}

@include make-spaces();

.flex {
	display: flex;
	gap: 2rem;
}

.flex-row {
	display: flex;
	flex-direction: column;

	@include breakpoint(medium) {
		flex-direction: row;
	}

	.col {
		align-self: center;
	}
	.col-p {
		padding: 2rem;
	}
}

.flex-reverse {
	@include breakpoint(medium) {
		gap: 20rem;
		flex-direction: row-reverse;
	}
}

.icon {
	color: white;
	width: 2rem;
	font-size: 2rem;
}

.stats {
	img {
		width: 4rem;
	}
}

.form {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	justify-content: flex-end;

	&__input {
		input {
			width: 100%;
			padding: 1rem;
			border-radius: 6px;
		}
	}

	.btn {
		align-self: flex-end;
	}
}

.product {
	&__image {
		position: relative;

		.next {
			position: absolute;
			top: 50%;
			right: 5px;
			background-color: colors.$white;
			width: 4rem;
			height: 4rem;

			display: inline-flex;
			flex-wrap: nowrap;
			align-content: center;
			justify-content: center;
			align-items: center;

			img {
				width: 1rem;
			}
		}
		.previous {
			position: absolute;
			top: 50%;
			left: 5px;
			width: 4rem;
			height: 4rem;
			background-color: colors.$white;

			display: inline-flex;
			flex-wrap: nowrap;
			align-content: center;
			justify-content: center;
			align-items: center;

			img {
				width: 1rem;
			}
		}

		.round {
			border-radius: 50%;
		}
	}
	&__thumbnails {
		display: none;

		@include breakpoint(medium) {
			display: flex;
			justify-content: space-between;
			gap: 2.5rem;
		}
	}

	&__thumbnail {
		border-radius: 8px;
		overflow: hidden;

		&:hover,
		&.active {
			outline: 2px solid colors.$primary;
			cursor: pointer;

			img {
				opacity: 0.3;
			}
		}

		img {
			width: 100%;
			height: 100%;
		}
	}
}

.right {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	gap: 2rem;
}

.icon-cart {
	width: 2rem;
	position: relative;

	span {
		position: absolute;
		padding: 1px 8px;
		font-size: 1.1rem;
		color: colors.$white;
		background-color: colors.$primary;
		border-radius: 20px;
		top: -5px;
		left: 14px;
	}
}

.avatar {
	width: 3rem;
}

.description {
	color: colors.$dark-grayish-blue;
}

.price-striked {
	color: colors.$grayish-blue;
	text-decoration: line-through;
}

.cart {
	&__row {
		display: flex;
		justify-content: space-between;
	}
	&__image {
		width: 6rem;
	}
}
